# Base de datos y cálculo numérico
numpy
pandas

# Análisis estadístico avanzado
scipy
statsmodels

# Visualización de datos
matplotlib
seaborn

# Machine Learning y Preprocesamiento
scikit-learn
imbalanced-learn
xgboost

# Reportes automatizados e interactividad en Jupyter
ydata-profiling
itables